.parent-container {
    position: relative;
    min-height:100%;
    overflow:hidden;
  }
  .video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 95%;
    width: auto;
    height: 130%;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
  }
  